* {
  margin: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

:root {
  --primery-text-color: #212121;
  --title-text-color: #757575;
  --accent-color: #2196f3;
  --hero-text-color: #ffffff;
  --logo-text-color: #000000;
}

body {
  font-family: "Roboto", sans-serif;
  background: #ffffff;
  color: var(--primery-text-color);
}

a:hover,
a:focus {
  color: var(--accent-color);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  fill: var(--accent-color);
}

.container {
  width: 1200px;
  min-width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}
/*header*/

.header-wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  align-content: center;
  height: 80px;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  border-bottom: 1px solid #ececec;
}

.header-container {
  display: flex;
  align-items: center;
}

 .logo{
  margin-right: 93px;
}

.main-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--logo-text-color);
}

.logo-child {
  color: var(--accent-color);
}

.logo:hover {
  color: var(--logo-text-color);
}

.nav-list,
.link {
  color: var(--primery-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  padding: 0;
  margin: 0;
}

.nav-list {
  display: flex;
  justify-content: space-between;
}

.nav-list-link{
  display: flex;
  justify-content: space-between;
  padding: 0;
}

.nav-list-link, .item-list {
  margin-right: 50px;
}

.nav-list-link:last-child{
  margin-right: 305px;
}

 .item-list:last-child {
  margin-right: 0;
}

.item-list {
  display: flex;
  justify-content: space-between;
}

.underline-studio::after {
  position: absolute;
  content: "";
  display: block;
  bottom: 0;
  width: 48px;
  height: 4px;
  background-color: var(--accent-color);
  border-radius: 2px;
}

.underline-portfolio::after{
  position: absolute;
  content: "";
  display: block;
  bottom: 0;
  width: 78px;
  height: 4px;
  background-color: var(--accent-color);
  border-radius: 2px;
}

.item-list-feedback{
  margin-right: 30px;
}

.item-list-feedback:last-child{
  margin-right: 0;
}

.item-list-feedback:hover{
  color: var(--accent-color);
}

.auth-nav {
  color: var(--primery-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.list-nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  color: var(--primery-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  padding: 0;
  margin: 0;
}

.feedback {
  display: flex;
  align-items: center;
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  fill: #757575;
}

.svg-envelope{
  Width: 16px;
  Height: 12px;
  margin-right: 10px;
}

.svg-vectortel{
  Width: 10px;
  Height: 16px;
  margin-right: 10px;
}

.svg-icons{
  width: 70px;
  height: 70px;
}
/*main*/

.hero {
  height: 600px;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/hero-background.jpg);
  background-size: cover;
  background-color: #2f303a;
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
}

h1 {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  color: var(--hero-text-color);
  margin-top: 0;
  margin-bottom: 30px;
  width: 696px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.nav-list-li {
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin: 0;
  margin-right: 30px;
}

.nav-list-li:last-child {
  margin-right: 0;
}

.description-list{
  position: relative;
  width: 370px;
  height: 294px;
}

.description-li{
  position: absolute;
  width: 370px;
  height: 70px;
  background: rgba(47, 48, 58, 0.8);
  color: var(--hero-text-color);
  bottom: 0;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  padding: 27px;
}

.title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: var(--primery-text-color);
  margin-top: 0;
  margin-bottom: 10px;
}

.paragraph {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  margin-top: 0;
  margin-bottom: 0;
}

.item {
  display: flex;
  justify-content: space-between;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 30px;
  padding-bottom: 0;
  padding-left: 0;
}

.item-li {
  width: 270px;
}

.icons {
  display: flex;
  justify-content: space-between;
  margin-top: 94px;
}

.list-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f5f4fa;
  border-radius: 4px;
  width: 270px;
  height: 120px;
}

.team {
  height: 708px;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  background: #f5f4fa;
  padding-bottom: 94px;
  padding-top: 94px;
  text-align: center;
}

.content {
  padding-bottom: 94px;
  padding-top: 94px;
}

.description {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
  margin-top: 0;
  text-align: center;
}

.paragraph-info {
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  margin-top: 0;
  margin-bottom: 0;
  padding-bottom: 16px;
}

.social-media {
  display: flex;
  justify-content: space-between;
  margin-left: 32px;
  margin-right: 32px;
  padding: 0;
}

.icon-sizes {
  width: 20px;
  height: 20px;
}

.icon-sizes:hover {
  stroke: var(--hero-text-color);
  fill: var(--hero-text-color);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.list-social-media {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  fill: #afb1b8;
}

.list-social-media:hover {
  background-color: var(--accent-color);
  fill: var(--hero-text-color);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients {
  display: flex;
  justify-content: space-between;
  padding-left: 0;
}

.clients-list {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 92px;
}

.company-links {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  fill: #afb1b8;
}

.company-links:hover {
  border-color: var(--accent-color);
  fill: var(--accent-color);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.company-links-size {
  width: 106px;
  height: 60px;
}

h3 {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  margin-top: 0;
  margin-bottom: 10px;
  padding-top: 30px;
}

.team-list {
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin: 0;
}

.card-our-team {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
  0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  width: 270px;
  height: 428px;
}

.section {
  padding-bottom: 94px;
  padding-top: 94px;
}

.btn-hero {
  background-color: var(--accent-color);
  color: var(--hero-text-color);
  cursor: pointer;
  border-radius: 4px;
  border: none;
  padding: 10px 32px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
}

.btn-hero:hover,
.btn-hero:focus {
  color: var(--title-text-color);
  background-color: var(--hero-text-color);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.menu-button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  color: var(--primery-text-color);
  cursor: pointer;
  border-radius: 4px;
  padding: 6px 22px;
  text-align: center;
  border: 1px solid transparent;
  margin: 0;
  height: 38px;
  background: #F5F4FA;
}

.menu {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
  margin-top: 0;
  padding-left: 0;
}

.menu-li {
  margin-right: 8px;
}

.menu-li:last-child {
  margin-right: 0;
}

.menu-button:hover,
.menu-button:focus {
  background-color: var(--accent-color);
  color: var(--hero-text-color);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.flex-element {
  box-sizing: border-box;
  border: 1px solid #eeeeee;
  margin-bottom: 30px;
  background: var(--hero-text-color);
  width: 370px;
  height: 404px;
}

.pop-up-window-text{
  width: 322px;
  height: 168px;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: var(--hero-text-color);
  pointer-events: none;
}

.card{
  position: relative;
  width: 370px;
  height: 294px;
  box-shadow: none;
  overflow: hidden;
}

.card::before{
  display: inline-block;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(33, 150, 243, 0.9);
  opacity: 0;
  transform: translateY(100%);
  pointer-events: none;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.flex-element:hover .card::before{
  box-sizing: border-box;
  transform: translateY(0);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  opacity: 1;
}

.pop-up-window{
  position: absolute;
  opacity: 0;
  width: 100%;
  height: 100%;
  padding: 63px 24px;
  margin: 0;
  top: 0;
  transform: translateY(100%);
}

.flex-element:hover .pop-up-window{
  margin: 0;
  top: 0;
  opacity: 1;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transform: translateY(0);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.last {
  margin-bottom: 0;
}

.text {
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.info {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}

.element-description{
  position: absolute;
  padding: 20px 24px;
}

/*footer*/
.logo-address {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--hero-text-color);
  margin-top: 0;
  margin-bottom: 20px;
}

.logo-address-child {
  color: var(--accent-color);
}

.logo-address:hover{
color: var(--hero-text-color);
transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.container-footer {
  display: flex;
  align-items: center;
}

.address {
  height: 252px;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-social {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.social-media-footer {
  display: flex;
  justify-content: space-between;
  padding-left: 0;
}

.footer {
  display: flex;
}

.location {
  display: flex;
  flex-direction: column;
  margin-right: 70px;
  color: var(--hero-text-color);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

h4 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: var(--hero-text-color);
  padding-bottom: 20px;
}

.footer-list-social{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  fill: #afb1b8;
  background: rgba(255, 255, 255, 0.1);
  margin-right: 10px;
}

.footer-list-social:hover {
  background-color: var(--accent-color);
  fill: var(--hero-text-color);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address-link {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  margin-top: 9px;
}

.address-link:hover{
  color: rgba(255, 255, 255, 0.6);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  background-color:rgba(0, 0, 0, 0.2);
  width: 100%;
  height: 100%;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden{
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
  translate:100%;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal{
  display: flex;
  justify-content: end;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-height: 581px;
  min-width: 528px;
  background-color: var(--hero-text-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
border-radius: 4px;
}

.close{
  position: relative;
  margin: 8px 8px 0 0;
  padding: 0;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: none;
  background-color: var(--hero-text-color);
}

.svg-close {
 fill: var(--hero-text-color);
}

.icon-close{
  position: absolute;
  top: 50%;
  left:50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
}